<%-include("partials/header.ejs") %>

<div class="formWrapper">
  <form action="/login" method="post">
  <h1>Login</h1>
  <label for="email">Email</label>
  <input type="email" name="username" id="email" autocomplete="email" />
  <label for="password">Password</label>
  <input
    type="password"
    name="password"
    id="password"
    required
    placeholder="<%= locals.error ? error: 'Enter password' %>" />
    <button type="submit" id="btn-register">Login</button>   
</form>     
<form action="/oauth/google/shortly" method="get">
  <button class="google">Log-in with Google</button> 
</form> 
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/url.js"></script>